{{define "subject"}}Finish Registration with Social{{end}}

{{define "body"}}
<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Finish Registration</title>
</head>
<body>
    <p>Hi {{.Username}},</p>

    <p>Thanks for signing up for Social. We're excited to have you on board!</p>

    <p>Before you can start using Social, please confirm your email address by clicking the link below:</p>

    <p><a href="{{.ActivationURL}}">{{.ActivationURL}}</a></p>

    <p>If you'd prefer, you can also activate your account manually by copying and pasting the activation code from the link above into your browser.</p>

    <p>If you didn't sign up for Social, you can safely ignore this email.</p>

    <p>Thanks,</p>
    <p>The Social Team</p>
</body>
</html>
{{end}}
